html {
	scroll-behavior: smooth;
	margin: 0;
}

body {
	font-family: "Open Sans", serif;
	font-size: 100%;
	line-height: 100%;
	background-color: white;
	margin: 0;
}

h1,
h2 {
	line-height: 100%;
}

.conteúdo-página {
	padding: 0rem 5rem 2rem 5rem;
}

#menu {
	list-style: none;
	width: px;
	margin: 0;
	padding: 0;
	/* padding: 10px 20px;*/
	/*border-bottom: 0.25rem double white;*/
	display: flex;
	background-color: black;
}

#menu a {
	display: block;
	height: 50px;
	align-items: center;
	padding: 10px 60px;
	text-transform: uppercase;
}

#menu li a:hover {
	/* text-decoration: underline solid white; */
	color: sandybrown;
	/* background-color: rgba(0, 0, 0, 0.2); */
}

#inicio {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

#cursos {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

#sobre {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

#fale-conosco {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.banner h1 {
	position: absolute;
	color: sandybrown;
	font-weight: bold;
	font-size: 50px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.banner img {
	opacity: 0.5;
}

h2 {
	margin: 0;
	padding: 10px 0;
	font-family: "Open Sans", serif;
	color: sandybrown;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: left;
}

p,
li {
	font-size: 20px;
	line-height: 2;
	letter-spacing: 1px;
	text-align: justify;
}

.lista {
	list-style: none;
	color: black;
}

.lista a {
	text-decoration: none;
	color: black;
}

.lista a:hover {
	text-decoration: underline solid black;
}

#mapa-endereço {
	/* margin: 0 auto; */
	display: flex;
	justify-content: center;
	margin: 0px;
}

iframe {
	border-radius: 1rem;
}

.citação {
	text-align: left;
	margin-left: 0px;
}

table {
	border-collapse: collapse; /* Junta as bordas da tabela*/
	font-family: sans-serif;
	width: 800px;
	padding: 0;
	margin: 50px auto;
}

thead td,
tbody td,
table th {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

table caption {
	caption-side: bottom;
	font-size: 14px;
	text-align: left;
	font-style: italic;
	margin: 10px 0;
}

tfoot td,
table th {
	background-color: #ddd;
	font-weight: bold;
	text-align: center;
}

tfoot {
	font-style: italic;
}

.table {
	max-width: 100%;
	overflow: auto;
}

#footer {
	background-color: black;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: fit-content;
	gap: 0.2rem;
}
#footer li a {
	display: block;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-align: right;
}

#footer li a:hover {
	color: sandybrown;
	/* text-decoration: underline solid white; */
	background-color: rgba(0, 0, 0, 0.2);
}
