body {
	font-family: "Open Sans", serif;
	font-size: 100%;
	line-height: 100%;
	background-color: white;
	margin: 0px;
}

#menu {
	list-style: none;
	margin: 0;
	padding: 1rem 2rem;
	border-bottom: 0.25rem double white;
	background-color: sandybrown;
	display: flex;
	height: 50px;
	justify-content: space-evenly;
	align-items: center;
}

#inicio {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

#cursos {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

#sobre {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

#fale-conosco {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

h1 {
	margin: 0;
	padding: 20px 0 5px 0;
	font-family: "Open SAns", serif;
	font-size: 2rem;
	text-align: center;
	color: sandybrown;
	font-weight: bold;
	text-shadow: 1px 1px 1px grey;
}

h2 {
	margin: 0;
	padding: 10px 0;
	font-family: "Open Sans", serif;
	color: sandybrown;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: left;
}

p,
li {
	font-size: 20px;
	line-height: 2;
	letter-spacing: 1px;
}

img {
	display: block;
	padding-top: 2rem;
	margin: 0 auto;
}
